{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block body %}
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <form action="{% url 'login' %}" method="POST" class="login-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>E-mail / Username</label>
                            <input class="form-control" type="text" name="username" placeholder="E-mail / Username">
                        </div>
                        <div class="col-md-6">
                            <label>Password</label>
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="keep_signed_in" name="keep_signed_in">
                                <label class="custom-control-label" for="keep_signed_in">Keep me signed in</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
